# site specific configuration data
openid-configuration.json
setenv-*.sh
swagger-*.json
swagger-*.yaml
config.jar

# vscode
.vscode/*
*.code-workspace

# Local History for Visual Studio Code
.history/
